// @import "node_modules/spectre.css/src/buttons";
// .btn btn-sm {
//   @include button-variant(success-color);
// }

html, body, main{
  min-height: 100vh;
}

.home-page {
  background-color: lightgrey;
}

.fact-image {
  width: 45%;
  height: 200px;
}


.vertical-timeline-element-content h3 {
  color: red;
  font-size: 1.5rem;
}

.vertical-timeline-element-content h4 {
  color: #303742 !important;
}

.vertical-timeline-element-content p {
  color: blue !important;
  font-size: 0.75rem !important;
}



.date {
  font-weight: bold;
}

.accordion-header {
  text-align: center;
  font-size: 40px;
  color: 807fe2;
  font-family: Merriweather;
}

.footer {
  text-align: center;
  color: #3b4351;
  margin-top: 0%;
}

.accordion .accordion-body {
  overflow: scroll;
}
.accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
  max-height: 75vh;
}
