// @import "node_modules/spectre.css/src/buttons";
// .btn btn-sm {
//   @include button-variant(success-color);
// }

html, body, main{
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}


.home-page {
  background-color: #3b4351;
  position: relative;
}

.home-page:before {
  content: '';
  position: absolute;
  left: 49.65%;
  top: 0;
  height: 100%;
  border-left: 5px solid white;
}

.home-page .accordion-container {
  position: relative;
}

.home-page .accordion-container .accordion .accordion-header {
  background-color: #3b4351;
  padding: 0;
  margin: 2.2rem .4rem;
}

.fact-image {
  width: 90%;
  height: 200px;
  padding: 0px 20px 40px 20px;
}

@media (max-width: 1170px) {
  .home-page:before {
    left: 5%;
  }
  .home-page .accordion-container .accordion .accordion-header {
    text-align: left;
    padding-left: 1rem;
  }
}


.vertical-timeline-element-content h3 {
  color: #3b4351;
  font-size: 1.5rem;
}
//title of fact

.vertical-timeline-element-content h4 {
  color: #303742 !important;
}



.accordion-header {
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: Merriweather;

}

.footer {
  text-align: center;
  color: #3b4351;
  margin-top: 0%;
}

.accordion .accordion-body {
  overflow: scroll;
}
.accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
  max-height: 75vh;
}

.columns {
  justify-content: center;
}


.img-responsive {
  width: 75%;
  height: 400px;
}

.location {
  color: lightgrey !important;
  text-transform: uppercase;
}
//fact on the home page

 .dates {
   color: lightgrey !important;
 }
//date on home page of the fact


.card {
  max-width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card .card-image img {
  width: 100%;
}

.delete-button {
  font-size: 10px;
}

.card.auth {
  max-width: 50%;
  padding: 10px;
}

.card.auth form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card.auth form .form-group {
  justify-content: center;
}

.card.auth form .auth-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card.auth form .auth-btn button {
  width: 50%;
  margin-top: 20px;
}

.create-new {
  display: flex;
  align-content: center;
  justify-content: center;
}

.card.new-fact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card.new-fact form .auth-btn button {
  width: 50%;
  margin-top: 20px;
}

.form-group {
  margin-top: 10px;
}

.form-horizontal {
  display: flex;
  justify-content: center;

  .text-red {
  color: red;
  }
  .border-red {
  color: red;
  border: .05rem solid red;
  border-radius: .1rem;
  }

  small {
    align-self: center;
  }

}
